.signUp {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}
.logout {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: red;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}


.card {
 
  color: red;
  text-decoration: none;
  padding: 15px 26px;
  position: ralative;
  display: inline-block;
  border-radius: 2px;

}
.card.reverse{
    color:darkblue;
    background-color: #656989;
  text-decoration: none;
  padding: 15px 26px;
  position: initial;
  display: inline-block;
  border-radius: 2px;
  align: center;
}
.card.reverse:hover{
  background: lightgreen;
}
.card.close{
   border-radius: 30%;
  background: burlywood;
}
.card:hover {
  background: greenyellow;
}

     .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }




      .show-btn {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.equal {
  grid-column-start: 4;
  grid-column-end: 6;
}

.btn {
  width: 60px;
  height: 60px;
  margin: 6px auto;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  background: none;
  border: 0px;
}

.btn:last-child {
  font-weight: medium;
  font-size: 40px;
  width: 110px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: #6dd5ed;
}

.btn:hover {
  background-color: #6dd5ed;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:active {
  background-color: #48b1bf;
  color: white;
  transition: background-color 0.3s ease;
}

.clr {
  color: #d66d75;
}

.exp {
  color: #06beb6;
}

.container {
  background-color: #dfe9f5;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  border: 0px;
  box-shadow: 0px 0px 3px 0.5px #c4e0e5;
  border-radius: 10px;
  max-width: 400px;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    height: 100%;
  }
}


.display {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 20px;
  background: linear-gradient(90deg, #06beb6, #48b1bf 100%);
}

.expression {
  padding: 5px;
  margin-bottom: 10px;
  height: 50px;
}

.input,
.value {
  padding: 10px;
  text-align: right;
  background-color: transparent;
  color: white;
  border: 0px;
  letter-spacing: 1.5px;
}

.input {
  font-size: 35px;
}

.value {
  font-size: 15px;
}

.input::placeholder,
.value::placeholder {
  color: white;
}

.input:focus-visible,
.value:focus-visible {
  outline-style: none;
  outline-width: 0px;
}